.profile__edit-btn {
  border: 1px solid #fff;
  margin-top: 15px;
  margin-left: 18px;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../../../images/Edit-pen.svg');
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}
