.popup__submit-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  font-family: 'Inter';
  border-style: none;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  border-radius: 2px;
  background-color: #000;
  justify-self: center;
  align-self: center;
  padding: 0;
}
